:root {
    background: #ddd;
    color: #444;
    font-family: 'Helvetica Neue', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        background: #444;
        color: #ddd;
    }
}

h1 {
    position: relative;
    margin: 70px auto;
    width: 731px;
    height: 459px;
    text-indent: -999em;
    background: currentcolor;
    mask-image: url(memwall.png);
    mask-size: contain;
    font-size: 100%;
}

h1 a {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

section {
    width: 731px;
    margin: 70px auto;
}

h2 {
    margin: 0;
    padding: 0 0 0.5em;
    text-align: right;
    font-size: 100%;
    font-variant: all-small-caps;
    color: #888;
    border-bottom: 1px solid #888;
}

table {
    margin: 0.5em -1em;
    border-spacing: 1em 0;
    white-space: nowrap;
}

.title {
    width: 100%;
}

.secondary {
    font-style: italic;
}

.duration, .length {
    text-align: right;
}

a:link, a:visited {
    color: inherit;
}
