#!/usr/bin/env ruby

preprocess do
  @items.find_all('/blog/posts/*').each { |i| i[:kind] = 'article' }

  articles_by_month.each do |date, posts|
    metadata = {title: date.strftime('%B %Y'), posts: posts.map { |i| i.identifier }}
    @items.create('', metadata, "/blog/archive/#{date.strftime('%Y/%m')}.html")
  end

  articles_by_tag.each do |tag, posts|
    metadata = {title: "\##{tag}", posts: posts.map { |i| i.identifier }}
    @items.create('', metadata, "/blog/tags/#{tag}.html")
  end
end

compile '/assets/js/*' do
  filter :uglify_js
end

compile '/blog/{archive,tags}/**/*' do
  layout '/blog/archive.haml'
end

compile '/blog/atom.haml' do
  filter :haml, format: :xhtml, attr_wrapper: '"'
end

compile '/blog/index.yaml' do
  layout '/blog/index.haml'
end

compile '/blog/posts/*' do
  filter :erb
  filter :kramdown
  layout '/blog/post.haml'
end

compile '/logs/mb/2013/phys/**' do
  nil
end

compile '/logs/**/*.txt' do
  filter :interstat, args: ['--template-dir', 'layouts/interstat/']
  layout '/logs/log.haml'
end

compile '/**/*.scss' do
  filter :sass, style: :compressed, syntax: :scss
end

compile '/**/*.haml' do
  filter :haml, format: :html5, attr_wrapper: '"'
  if item.identifier.to_s.start_with? '/error/'
    layout '/error.haml'
  elsif item.identifier.to_s.start_with? '/yackfest/'
    layout '/yackfest.haml'
  else
    layout '/default.haml'
  end
end

compile '/**/*' do
  nil
end

route '/assets/css/style.scss' do
  '/assets/css/style.css'
end

route '/assets/js/*' do
  item.identifier.to_s
end

route '/bower_components/jquery/dist/jquery.min.js' do
  '/assets/js/jquery.min.js'
end

route '/bower_components/jquery-timeago/jquery.timeago.js' do
  '/assets/js/jquery.timeago.js'
end

route '/bower_components/overpass/webfonts/overpass-mono-webfont/*.{css,eot,ttf,woff,woff2}' do
  "/assets/fonts/overpass-mono/#{File.basename(item.identifier.to_s)}"
end

route '/bower_components/overpass/webfonts/overpass-webfont/*.{css,eot,ttf,woff,woff2}' do
  "/assets/fonts/overpass/#{File.basename(item.identifier.to_s)}"
end

route '/bower_components/waypoints/lib/jquery.waypoints.min.js' do
  '/assets/js/jquery.waypoints.min.js'
end

route '/bower_components/waypoints/lib/shortcuts/inview.min.js' do
  '/assets/js/inview.min.js'
end

route '/bower_components/**/*' do
  nil
end

route '/blog/atom.haml' do
  '/blog/atom.xml'
end

route '/logs/htaccess' do
  '/logs/.htaccess'
end

route '/logs/mb/2013/phys/**' do
  item.identifier.to_s
end

route '/htaccess' do
  '/.htaccess'
end

route '/robots.txt' do
  '/robots.txt'
end

route '/**/*' do
  if item.binary?
    item.identifier.to_s
  else
    item.identifier.without_ext + '.html'
  end
end

layout '/**/*', :haml, format: :html5, attr_wrapper: '"'
