#!/usr/bin/env ruby

preprocess do
  @items.find_all('/blog/posts/*').each { |i| i[:kind] = 'article' }

  articles_by_month.each do |date, posts|
    metadata = {title: date.strftime('%B %Y'), posts: posts.map { |i| i.identifier }}
    @items.create('', metadata, "/blog/archive/#{date.strftime('%Y/%m')}.html")
  end

  articles_by_tag.each do |tag, posts|
    metadata = {title: "\##{tag}", posts: posts.map { |i| i.identifier }}
    @items.create('', metadata, "/blog/tags/#{tag}.html")
  end

  @items.find_all('/logs/**/*.txt')
    .reject { |i| i.identifier.match? '/logs/mb/2013/phys/**' }
    .each { |i| set_log_attributes(i) }
end

compile '/assets/js/*' do
  filter :uglify_js
  write item.identifier.to_s
end

compile '/blog/{archive,tags}/**/*' do
  layout '/blog/archive.haml'
  write ext: 'html'
end

compile '/blog/atom.haml' do
  filter :haml, format: :xhtml, attr_wrapper: '"'
  write ext: 'xml'
end

compile '/blog/index.yaml' do
  layout '/blog/index.haml'
  write ext: 'html'
end

compile '/blog/posts/*' do
  filter :erb
  filter :kramdown
  layout '/blog/post.haml'
  write ext: 'html'
end

compile '/htaccess' do
  write '/.htaccess'
end

passthrough '/logs/mb/2013/phys/**'

compile '/logs/**/*.txt' do
  filter :interstat, args: ['--template-dir', 'layouts/interstat/']
  layout '/logs/log.haml'
  write ext: 'html'
end

compile '/**/*.scss' do
  filter :sass, style: :compressed, syntax: :scss
  write ext: 'css'
end

compile '/**/*.haml' do
  filter :haml, format: :html5, attr_wrapper: '"'
  if item.identifier.to_s.start_with? '/error/'
    layout '/error.haml'
  elsif item.identifier == '/logs/memoriam/index.haml'
    # do nothing
  elsif item.identifier.match? %r{/logs/.+/index\.haml}
    layout '/logs/index.haml'
  elsif item.identifier.to_s.start_with? '/yackfest/'
    layout '/yackfest.haml'
  else
    layout '/default.haml'
  end
  write ext: 'html'
end

passthrough '/**/*'

layout '/**/*', :haml, format: :html5, attr_wrapper: '"'
