- lines = @log.compiled_content(snapshot: :raw).lines
%th.log
  %a{href: @log.path}= (@title || File.basename(@log.identifier.without_exts))
%td.date
  - start_time = Time.strptime(lines.first[1...21] + ' +0000', '%d-%b-%Y %H:%M:%S %z')
  %time{datetime: start_time.iso8601}= start_time.to_date.iso8601
%td.duration
  - end_time = Time.strptime(lines.last[1...21] + ' +0000', '%d-%b-%Y %H:%M:%S %z')
  - minutes = (end_time - start_time).fdiv(60).round
  %time{datetime: "PT#{end_time - start_time}S"}= "%d h %02d min" % minutes.divmod(60)
%td.length #{lines.length} lines
