---
title: Log archive
---

%h2#subsite-heading
  = @item[:title]
%nav#home-nav
  %dl
    %dt
      %a{href: '316/'}
        %cite 3:16: Carnage Amongst the Stars
    %dd Charlatan

    %dt
      %a{href: 'adeptus/'}
        %cite Aluntur Rituali Evangelion
    %dd Solstace

    %dt
      %a{href: 'ditv/'}
        %cite Dogs in the Vineyard
    %dd IllFlower

    %dt
      IllFlower's magic series
    %dd
      <a href="mb/2013/"><cite>Magical Burst</cite></a>,
      <a href="memoriam/"><cite>In memoriam perpetuam</cite></a>,
      <a href="noc/"><cite>Novus Ordo Conservatorum</cite></a>

    %dt
      %a{href: 'mb/2012/'}
        %cite Magical Burst
    %dd Solstace

    %dt
      %a{href: 'shadowrun/'}
        %cite Shadowrun
    %dd Iverum

    %dt
      %a{href: 'http://covering.space/sorcerer/'}
        %cite Sorcerer
    %dd ponicalica (externally hosted)
