body {
    background: #eee;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

nav {
    display: block;
    position: fixed;
    right: 0;
    top: -0.5em;
    bottom: -0.5em;
    padding: 1em 0.5em;
    width: 10em;
    background: #222;
    color: gray;
    border-left: 1px solid darkgray;
    box-shadow: 0 0 0.5em black;
    text-align: center;
}

nav a:link, nav a:visited {
    color: white;
}

form {
    margin-bottom: 0.5em;
    overflow: hidden;
}

select {
    float: left;
}

input[type='search'], table {
    width: 100%;
}

tr {
    text-align: center;
    width: 14.2857%;
}

table a {
    font-weight: bold;
    display: block;
}

table a:link {
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 83%;
}

body > ul {
    margin: 0.5em 0;
}

li {
    list-style: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0 0.5em 0 4em;
    text-indent: -3.5em;
}

#error {
    margin: 0.5em;
}

nav + ul li, nav + #error {
    padding-right: 13.8em;
}

li:target {
    background: #ecc;
}

li a {
    color: inherit;
}

li a.timestamp {
    white-space: nowrap;
    font-size: smaller;
    color: gray;
}

.content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.misc {
    color: gray;
}
