---
title: Room 208
---

%nav#home-nav
  %dl
    %dt
      %a{href: 'blog/'} Elaborate Burn
    %dd a moeblog

    %dt
      %a{href: 'https://github.com/kxz/omnipresence'} Omnipresence
    %dd the ominously-named friendly IRC bot framework

    %dt
      %a{href: 'yackfest/'} #yackfest
    %dd a home for the verbosity-afflicted

    %dt
      %a{href: 'https://twitter.com/cdv2722'} @cdv2722
    %dd follow me on Twitter
