---
title: '#yackfest'
---

%nav#home-nav
  %dl
    %dt
      %a{href: 'https://wiki.room208.org/getting_started'} Getting started
    %dd how to connect to #yackfest

    %dt
      %a{href: 'https://wiki.room208.org/guidelines'} Behavior guidelines
    %dd how to avoid getting banned

    %dt
      %a{href: 'staff/'} Channel staff
    %dd in case of emergency

    %dt
      %a{href: 'https://qdb.room208.org/'} Quote database
    %dd for when we think we’re funny

    %dt
      %a{href: '/stats/'} Activity statistics
    %dd who’s got the most to say?

    %dt
      %a{href: 'https://booru.room208.org/'} Omnibooru ter
    %dd the #yackfest imageboard

    %dt
      %a{href: 'https://wiki.room208.org/'} Wiki
    %dd when it doesn’t fit anywhere else

    %dt
      %a{href: 'http://www.cjas.org/~leng/lbooks.htm'} The Wired »
    %dd the network where we all reside
