- render '/default.haml', source_path: @source_path, title: summarize(@item) do
  %h2#subsite-heading
    %a{{href: ('/blog/' unless @item.identifier.to_s == '/blog/index.yaml')}.compact}
      = @items['/blog/index.yaml'][:title]
  = yield
