- render '/blog/base.haml', source_path: "layouts#{@layout.identifier.to_s}" do
  %section
    %h1 Latest posts
    - sorted_articles.first(5).each do |post|
      = render '/blog/_post.haml', item: post
  = render '/blog/_archive-nav.haml'
