---
title: Dogs in the Vineyard
---

- @items.find_all('/logs/ditv/*/*.log').group_by { |item| item.identifier.to_s.split('/')[3] }.each do |dir, logs|
  %section
    %h2= dir.split('-')[1..].collect { |word| word.capitalize }.join(' ')
    %table
      - logs.each do |log|
        %tbody
          %tr
            = render '/logs/_session.haml', log: log, title: File.basename(log.identifier.without_exts).capitalize
