@import url(../fonts/overpass/overpass.css);
@import url(../fonts/overpass-mono/overpass-mono.css);

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 2em;
  background: #fff;
  color: #000;
  font-family: 'Overpass', sans-serif;
  line-height: 1.2;
}

#site-heading {
  display: inline-block;
  font-size: 120%;
  margin: -0.25em -0.5em;
  padding: 0.25em 0.5em;

  a {
    background: #000;
    color: #fff !important;
    margin: -0.25em -0.5em;
    padding: 0.25em 0.5em;

    &:link, &:visited {
      background: #888;
    }

    &:hover, &:active, &:focus {
      background: #000;
    }
  }

  + section, + article, + nav {
    margin-top: 1.3em;
  }
}

#subsite-heading {
  display: inline-block;
  font-size: 120%;
  margin-left: 1em;

  + section, + article, + nav {
    margin-top: 1.3em;
  }
}

#site-footer {
  font-size: 66.67%;
}

section, article, nav {
  margin: 1em 0;
  max-width: 40em;
}

section, nav {
  > h1 {
    font-size: 100%;
    text-transform: uppercase;
  }
}

article {
  margin-bottom: 3em;
}

a {
  &:link, &:visited {
    color: #888;
    text-decoration: none;
  }

  &:hover, &:active, &:focus {
    color: #000;

    body.error & {
      color: #fff;
    }
  }
}

blockquote, pre {
  margin: 1em 0;
  background: #eee;
  box-shadow: #eee 0 0 0 0.5em;
  word-wrap: break-word;
}

code, pre {
  font-family: 'Overpass-Mono', monospace;
  letter-spacing: -0.05em;
}

.dialogue {
  margin-left: 0;

  li {
    display: table;
    list-style: none;
  }

  b {
    display: table-cell;
    padding-right: 0.25em;
  }
}

hr {
  border-color: #888;
  border-style: dotted;
  border-width: 1px 0 0;
}

iframe {
  border: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

.inline-dd {
  dt {
    margin-top: 0.5em;
  }

  dd {
    display: inline;

    + dd::before {
      content: "\2022";
    }
  }
}

ol, ul {
  margin: 1em 0 1em 2.5em;
}

p {
  margin: 1em 0;
}


// Home page

#home-nav dt {
  margin-top: 1em;
  font-weight: bold;
}


// Error pages

#error {
  color: red;
}

#error-nav {
  ul {
    margin: 0;
  }

  li {
    list-style: none;
  }
}


// Blog index

#archive-nav {
  section {
    display: table-row;
    margin: 0;

    h1 {
      display: table-cell;
      font-size: 100%;
      padding-right: 1em;
    }
  }

  ul {
    display: table-cell;
  }

  li {
    display: inline;
    margin-right: 0.5em;
  }
}


// Blog posts

article {
  h1 {
    font-size: 120%;
    margin: 0.8333em 0;

    a::after {
      content: " »";
    }
  }

  h2 {
    font-size: 100%;
    margin: 1em 0;
  }

  > footer {
    color: #888;

    dt, dd, ul, li {
      display: inline;
      margin: 0;
    }

    dt {
      font-weight: bold;
    }

    dd + dt {
      margin-left: 1em;
    }

    li {
      list-style: none;
    }
  }
}


// #yackfest staff page

#staff {
  h2 {
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  .title {
    font-style: italic;
    font-weight: 100;
  }
}


// Log archive

.log {
  ul {
    margin: 0;
    padding: 0;
    font: 83.33%/1.2 'Ubuntu Mono', monospace;
  }

  li {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;

    &:target {
      background: #ecc;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &.timestamp {
        color: #888;
      }
    }
  }

  .timestamp, .actor, .content, .misc {
    display: table-cell;
  }

  .timestamp, .actor {
    white-space: nowrap;
  }

  .actor {
    text-align: right;

    &::before, &::after {
      content: "\A0";
    }
  }

  .content {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .misc {
    color: #888;
  }
}


// Et cetera

@media screen and (min-width: 30em) {
  body {
    font-size: 150%;
  }

  article, #archive-nav section, #staff dd {
    font-size: 66.67%;
  }

  #staff {
    font-size: 100%;
  }
}
