@import url(https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Overpass+Mono:wght@300..700);

* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #fff;
  --alternating-background: #eee;
  --foreground: #000;
  --midground: #888;

  margin: 2em;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;

  @media (prefers-color-scheme: dark) {
    --background: #000;
    --alternating-background: #111;
    --foreground: #fff;
  }
}

#site-heading {
  display: inline-block;
  font-size: 120%;

  a {
    display: inline-block;
    background: var(--foreground);
    color: var(--background) !important;
    margin: -0.35em 0.5em 0.1em -0.5em;
    padding: 0.35em 0.5em 0.1em;
    white-space: nowrap;

    &:link, &:visited {
      background: var(--midground);
    }

    &:hover, &:active, &:focus {
      background: var(--foreground);
    }
  }

  + section, + article, + nav {
    margin-top: 1.3em;
  }
}

#subsite-heading {
  display: inline-block;
  font-size: 120%;

  + section, + article, + nav {
    margin-top: 1.3em;
  }
}

#site-footer {
  font-size: 66.67%;
  margin: 2em 0;
}

section, article, nav {
  margin: 1em 0;
  max-width: 40em;
}

section, nav {
  > h1 {
    font-size: 100%;
    text-transform: uppercase;
  }
}

article {
  margin-bottom: 3em;
}

a {
  &:link, &:visited {
    color: var(--midground);
    text-decoration: none;
  }

  &:hover, &:active, &:focus {
    color: var(--foreground);

    body.error & {
      color: var(--background);
    }
  }
}

blockquote, pre {
  margin: 1em 0;
  background: var(--alternating-background);
  box-shadow: var(--alternating-background) 0 0 0 0.5em;
  word-wrap: break-word;
}

code, pre {
  font: {
    family: 'Overpass Mono', monospace;
    variant-ligatures: none;
    weight: normal;
  }
  letter-spacing: -0.05em;
}

details {
  margin: 1em 0;
}

.dialogue {
  margin-left: 0;

  li {
    display: table;
    list-style: none;
  }

  b {
    display: table-cell;
    padding-right: 0.25em;
  }
}

hr {
  border-color: var(--midground);
  border-style: dotted;
  border-width: 1px 0 0;
}

iframe {
  border: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

.inline-dd {
  dt {
    margin-top: 0.5em;
  }

  dd {
    display: inline;

    + dd::before {
      content: "\2022";
    }
  }
}

.negative {
  color: #800;

  @media (prefers-color-scheme: dark) {
    color: #f88;
  }
}

.numeric {
  font-variant-numeric: tabular-nums;
  text-align: right;
  white-space: nowrap;
  width: 1px;
}

ol, ul {
  margin: 1em 0 1em 2.5em;
}

p {
  margin: 1em 0;
}

.positive {
  color: #080;

  @media (prefers-color-scheme: dark) {
    color: #8f8;
  }
}

summary {
  color: var(--midground);
  cursor: pointer;

  &:hover, &:active, &:focus {
    color: var(--foreground);
  }
}

table {
  margin: -0.25em -0.5em 0;
  border-spacing: 0;
}

tbody, tfoot {
  &:nth-child(2n) {
    th, td {
      background-color: var(--alternating-background);
    }
  }

  tr:first-child {
    th, td {
      padding-top: 0.25em;
    }
  }

  tr:last-child {
    th, td {
      padding-bottom: 0.25em;
    }
  }
}

td, th {
  padding: 0 0.5em;
}

tfoot {
  font-weight: bold;
  text-transform: uppercase;
}

th {
  text-align: left;
}


// Home page

#home-nav dt {
  margin-top: 1em;
  font-weight: bold;
}


// Error pages

#error {
  color: red;
}

#error-nav {
  ul {
    margin: 0;
  }

  li {
    list-style: none;
  }
}


// Blog index

#archive-nav {
  section {
    display: table-row;
    margin: 0;

    h1 {
      display: table-cell;
      font-size: 100%;
      padding-right: 1em;
    }
  }

  ul {
    display: table-cell;
  }

  li {
    display: inline;
    margin-right: 0.5em;
  }
}


// Blog posts

article {
  h1 {
    font-size: 120%;
    margin: 0.8333em 0;

    a::after {
      content: " »";
    }
  }

  h2, h3 {
    font-size: 100%;
    margin: 1em 0;
  }

  h3 {
    font-style: italic;
    font-weight: 300;
  }

  > footer {
    color: var(--midground);

    dt, dd, ul, li {
      display: inline;
      margin: 0;
    }

    dt {
      font-weight: bold;
    }

    dd + dt {
      margin-left: 1em;
    }

    li {
      list-style: none;
    }
  }
}


// #yackfest staff page

#staff {
  h2 {
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  .title {
    font-style: italic;
    font-weight: 100;
  }
}


// Log archive

#log-index {
  h1 {
    font-size: 120%;
    margin: 0.8333em 0;
    text-transform: none;
  }

  h2 {
    font-size: 100%;
  }

  table {
    font: {
      size: 83.33%;
      variant-numeric: tabular-nums;
    }
    white-space: nowrap;
  }

  .duration, .length, .rel {
    text-align: right;
  }
}

.log {
  ol {
    margin: 0;
    padding: 0;
    font: 83.33%/1.5 'Overpass Mono', monospace;
    font-variant-ligatures: none;
    letter-spacing: -0.05em;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    &:target {
      background: #ecc;

      @media (prefers-color-scheme: dark) {
        background: #511;
      }
    }

    a {
      color: inherit;
      text-decoration: underline;
      word-break: break-all;

      &.timestamp {
        color: var(--midground);
      }
    }
  }

  .timestamp, .actor {
    white-space: nowrap;
  }

  @media (prefers-color-scheme: dark) {
    .nick {
      filter: invert(1) hue-rotate(180deg);
    }
  }

  .content {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .misc {
    color: var(--midground);
  }

  @media (min-width: 30em) {
    li {
      display: table;
    }

    .timestamp, .actor, .content, .misc {
      display: table-cell;
    }

    .actor {
      &::before, &::after {
        content: "\A0";
      }
    }
  }
}


// Et cetera

@media (min-width: 30em) {
  :root {
    font-size: 150%;
  }

  article, #archive-nav section, #staff dd, #log-index table {
    font-size: 66.67%;
  }

  #staff {
    font-size: 100%;
  }
}
