---
title: Channel staff
---

%article#staff.inline-dd
  %h1 Channel staff

  %h2 Active operators
  %dl
    %dt
      IllFlower
      %span.title (channel founder)
    %dd
      %a{href: 'http://twiki.org/cgi-bin/xtra/tzdate?tz=America/Los_Angeles'} America/Los_Angeles
    %dd
      %a{href: 'https://twitter.com/cdv2722'} @cdv2722

    %dt
      Buttercupistiny
    %dd
      %a{href: 'http://twiki.org/cgi-bin/xtra/tzdate?tz=America/Los_Angeles'} America/Los_Angeles
    %dd
      %a{href: 'https://twitter.com/buttercupistiny'} @buttercupistiny

    %dt
      ponicalica
    %dd
      %a{href: 'http://twiki.org/cgi-bin/xtra/tzdate?tz=America/Los_Angeles'} America/Los_Angeles
    %dd
      %a{href: 'https://twitter.com/sl2c'} @sl2c

    %dt
      Rig
      %span.title né Iverum
    %dd
      %a{href: 'http://twiki.org/cgi-bin/xtra/tzdate?tz=America/Denver'} America/Denver
    %dd
      %a{href: 'https://twitter.com/Iverum'} @Iverum

    %dt
      zeroplusalpha
    %dd
      %a{href: 'http://twiki.org/cgi-bin/xtra/tzdate?tz=Asia/Taipei'} Asia/Taipei

  %h2 Operatores emeriti
  %dl
    %dt
      Mapi
    %dd
      served 2010–2011
    %dd
      %a{href: 'https://twitter.com/noimoutosnolife'} @noimoutosnolife

    %dt
      GMH
    %dd
      served 2010–2012

    %dt
      Noimporta
    %dd
      served 2011–2012

    %dt
      Barcode
    %dd
      served 2012–2014
    %dd
      %a{href: 'https://twitter.com/r0cketRoc'} @r0cketRoc
